/* Color Palette:
   #AFD2E9 - Light Blue
   #5FAD56 - Green
   #F2C14E - Yellow
   #D87183 - Deeper Pink
   #FFC0CB - Light Pink
*/

html{
    height:100%;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .loginFormContainer {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    width: 350px;
    height: 290px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: rgb(216, 113, 131);
}

.loginForm-signupButton{
    position: relative;
    height: 195px;
}
.login-content{
    height: 195px;
    position: relative;

}

.loginFormTitle {
    width: 100%;
    text-align: center;

    margin:auto;
}

.input-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    margin-top: 0px;
}

.input-label {
    height: 65px; 
    margin-top: 2px;;
}

.login-input {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border: none;
    background-color: antiquewhite;
    border-radius: 5px;
}

.login-input:focus{
    border: none;
    background-color: #AFD2E9;
    outline: none;

}



.loginButton1 {
    background-color: #5FAD56;
    border: none;
    width: 70px;
    height: 25px; 
    color: black;
    border-radius: 5px;
    margin-top: 5px;
    position: absolute;
    bottom: 0px;
    left: 45px;
    text-align: center;
    margin: 2px;

}

.loginButton2 {
    background-color: #5FAD56;
    border: none;
    width: 70px;
    height: 25px; 
    color: black;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    right: 45px;
    text-align: center;
    margin: 2px;
}

.loginButton1:hover{
    background-color: #F2C14E;
    border: none;
    width: 70px;
    height: 25px; 
    color: black;
    border-radius: 5px;
    margin-top: 5px;
    position: absolute;
    bottom: 0px;
    left: 45px;
    text-align: center;
    margin: 2px;
}

.loginButton2:hover{
    background-color: #F2C14E;
    border: none;
    width: 70px;
    height: 25px; 
    color: black;
    border-radius: 5px;
    margin-top: 5px;
    position: absolute;
    bottom: 0px;
    right: 45px;
    text-align: center;
    margin: 2px;
}


.invalid{
    color: rgba(255, 0, 0, 0.365);
    font-size: x-small;
    font-style: italic;
}
.invalid-container{
    line-height: 9px;
    padding: 0px;
}