/* Color Palette:
   #AFD2E9 - Light Blue
   #5FAD56 - Green
   #F2C14E - Yellow
   #D87183 - Deeper Pink
   #FFC0CB - Light Pink
*/

html{
    height:100%;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .loginFormContainer {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    width: 350px;
    height: 290px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: rgb(216, 113, 131);
}

.login-content{

}

.loginFormTitle {
    width: 100%;
    text-align: center;

    margin:auto;
}

.input-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    margin-top: 0px;
}

.input-label {
    /* width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; */

    margin: 5px 0; 
}

.login-input {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border: none;
    background-color: antiquewhite;
    border-radius: 5px;
}

.login-input:focus{
    border: none;
    background-color: #AFD2E9;
    outline: none;

}



.login-signup {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.loginButton1 {
    background-color: #5FAD56;
    border: none;
    width: 70px;
    height: 25px; 
    margin: 10px;

    color: black;
    border-radius: 5px;
}

.loginButton2 {
    background-color: #5FAD56;
    border: none;
    width: 70px;
    height: 25px; 
    margin: 10px;

    color: black;
    border-radius: 5px;
}

.loginButton1:hover{
    color: black;
    font-size: small;
    margin-left: 5px;
    background-color: #F2C14E;
}

.loginButton2:hover{
    color: black;
    font-size: small;
    margin-left: 5px;
    background-color: #F2C14E;
}


.invalid{
    color: rgba(255, 0, 0, 0.365);
    font-size: x-small;
    font-style: italic;
    width: 50%;

}