html{
    height:100%;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .signupFormContainer {
    width: 100%;
    height: 100vh; /* Use viewport height for full height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupForm {
    width: 500px;
    height: 440px;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: rgb(216, 113, 131);
}

.signup-content{

}

.signupFormTitle {
    width: 100%;
    text-align: center;

    margin:auto;
}

.input-container {
    display: flex;
    flex-direction: column; /* Align items vertically */

    width: 100%;
    margin-top: 0px;
}

.type {
    margin: 5px 0; /* Add some space between input fields */
}

.input {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border: none;
    background-color: antiquewhite;
    border-radius: 5px;
}

.signupButtonContainer {
    width: 100%;
    text-align: center;
    margin-top: 8px;
}

.signupButton {
    background-color: pink;
    border: none;
    width: 70px;
    height: 30px; /* Adjust height for better visibility */
    border-radius: 5px;
    color: white;
}

.signupButton:hover{
    color: pink;
    background-color: white;

}

.linktologin{
    color: lightpink;
    font-size: small;
    margin-left: 5px;
}

.linktologin:hover{
    color:white;
}